<div class="general-container">
  <div class="list-item">
    <i class="fa-solid fa-school list-item-icon"></i>
    <h4>Національний технічний університет України «Київський політехнічний інститут імені Ігоря Сікорського»,
      факультет інформатики та обчислювальної техніки, кафедра інформаційних систем та технологій</h4>
  </div>
  <div class="list-item">
    <i class="fa-solid fa-graduation-cap list-item-icon"></i>
    <h4>Дипломний проєкт на здобуття ступеня бакалавра за освітньо-професійною програмою
      «Інформаційні управляючі системи та технології» спеціальності 126 «Інформаційні системи та технології»</h4>
   </div>
  <div class="list-item">
    <i class="fa-solid fa-route list-item-icon"></i>
    <h4>Тема: «Інформаційна система з підтримки процесу дослідження алгоритмів маршрутизації дронів»</h4>
  </div>
  <div class="list-item">
    <i class="fa-brands fa-google-scholar list-item-icon"></i>
    <h4>Виконавець: студент IV курсу, групи ІС-01 Коваль Вадим Юрійович</h4>
  </div>
</div>
