:root {
  --red: #E93A31;
  --orange: #FF521D;
  --yellow: #FFBB00;
  --silver-blue: #9CA5BE;
  --light-blue: #272588;
  --dark-blue: #324068;
  --blue: #4746BD;
  --grey: #E8EBF2;
  --light-grey: #F2F2F2;
  --dark-grey: #A4A4A6;
  --white: #FFFFFF;
  --black: #14181E;
}
