<div class="general-container">
  <div class="form">
    <img src="./assets/settings-form.png" alt="form">
  </div>
  <h4>Експерименти проводяться згідно вхідних даних, що введені користувачем в формі налаштувань.<br><br>
  Системою генерується n задач, де кожна із задач складається з випадково розміщених на мапі m об’єктів (група «Загальні»).<br><br>
  Принцип розміщення об’єктів визначає параметр «Рівномірний розподіл». Важливо пам’ятати, що при активації рівномірного розподілу,
  проведення експериментів займатиме більше часу.<br><br>
  Група «Параметри дрона» представляє час польоту та середню швидкість дрона, з даних параметрів визначається максимальний запас ресурсів:
  часу, що дрон може провести в повітрі, та, відповідно, довжини маршруту, що даний дрон може пролетіти.<br><br>
  Групи форми, що залишились, визначають початкові та кінцеві координати XY, в межах яких будуть генеруватись об’єкти та
  початкова/кінцева бази, що представляють відповідно старт/кінець майбутнього маршруту дрона.
  </h4>
 </div>
